In [1]:
import pandas as pd

In [2]:
dfm = pd.read_csv("movies.csv")

In [3]:
dfm.shape

(9742, 3)

In [15]:
dfm.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
dfR = pd.read_csv("ratings.csv")

In [5]:
dfR.shape

(100836, 4)

In [6]:
dfR.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [36]:
a = dfR["userId"].nunique()
a

610

In [41]:
a = dfR.groupby("movieId")["userId"].count()
b = a.sort_values()
b

movieId
193609      1
4032        1
57526       1
57522       1
57502       1
         ...
2571      278
593       279
296       307
318       317
356       329
Name: userId, Length: 9724, dtype: int64

In [49]:
a = dfR.groupby("movieId")["userId"].count()

movie_id = a.idxmax()
max_ratings = a.max()


movie_title = dfM[dfM['movieId'] == movie_id]['title'].values[0]

movie_title

'Forrest Gump (1994)'

In [31]:
import requests
import numpy as np
from bs4 import BeautifulSoup

def scrapper(imdbId):
    id = str(int(imdbId))
    n_zeroes = 7 - len(id)
    new_id = "0" * n_zeroes + id
    URL = f"https://www.imdb.com/title/tt{new_id}/"
    request_header = {
        'Content-Type': 'text/html; charset=UTF-8',
        'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/119.0',
        'Accept-Encoding': 'gzip, deflate, br'
    }
    response = requests.get(URL, headers=request_header)  # Use requests.get() to make the request
    soup = BeautifulSoup(response.text, 'html.parser')  # Use BeautifulSoup to parse the HTML
    imdb_rating = soup.find('span', attrs={'data-testid': 'sc-16ede01-2'}).find('span')  # Find the IMDb rating
    return imdb_rating.text if imdb_rating else np.nan